<!-- <p>
  dishdetail works!
</p> -->

<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"   
	fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40"  *ngIf="dish">
<!--    <p>Display the details of the Dish here</p> -->
	<md-card> <!-- move *ngIf into upper div -->
	    <md-card-header>
		  <md-card-title>
		     <h3>{{dish.name | uppercase }}</h3>
		  </md-card-title>
		</md-card-header>
		<img md-card-image src="{{dish.image}}" alt="{{dish.name}}"> 
		<md-card-content>
		  <p> {{dish.description}}</p>
		</md-card-content>
		<md-card-actions>
		<button md-button [routerLink]="['/dishdetail',prev]">
			<span class="fa fa-chevron-left fa-lg"></span>
		</button>
		  <button md-button (click)="goBack()">BACK</button>
		  <button md-button>LIKE</button>
		  <button md-button>SHARE</button>
		  <span class="flex-spacer"></span>
		<button md-button [routerLink]="['/dishdetail',next]">
			<span class="fa fa-chevron-right fa-lg"></span>
		</button>
		</md-card-actions> 
	</md-card>
  </div>
  
<!-- Material -->
<!--  <div fxFlex="40">
        <mat-card *ngIf="dish">
             <mat-card-header>
                 <mat-card-title>
                     <h3>{{ dish.name | uppercase }}</h3>
                 </mat-card-title>
             </mat-card-header>
             <img mat-card-image src="{{ dish.image }}" alt="{{ dish.name }}">
             <mat-card-content>
                 <p>{{ dish.description }}</p>
             </mat-card-content>
             <mat-card-actions>
                 <button mat-button>LIKE</button>
                 <button mat-button>SHARE</button>
             </mat-card-actions>
         </mat-card>
    </div>  -->

  <div fxFlex="40" *ngIf="dish">
<!--    <p>Display the list of comments here</p> -->
	<md-list> <!-- move *ngIf into upper div -->
	<h3>Comments</h3>
		<md-list-item *ngFor="let cmts of dish.comments"> 
				<h4 md-line>{{cmts.comment}}</h4>
				<p md-line>
					<span>{{cmts.rating}} Stars </span>
				</p>
				<p md-line>
					<span> --{{cmts.author}} {{cmts.date | date:"MMM. dd, yyyy"}} </span>
				</p>
		</md-list-item>
	</md-list>
  </div>
  <div [hidden]="dish">
	<md-spinner></md-spinner> <h4>Loading . . . Please Wait</h4>
  </div>
  
<!-- Material --> 
<!-- 	<div fxFlex="40">
        <mat-list *ngIf="dish">
		<h3>Comments</h3>
            <mat-list-item *ngFor="let cmts of dish.comments">
                <p matLine>{{ cmts.comment }}</p>
                <p matLine>{{ cmts.rating }} Stars</p>
                <p matLine>-- {{ cmts.author }} {{ cmts.date | date:"MMM. dd, yyyy" }}</p>
            </mat-list-item>
        </mat-list>
    </div> -->
</div>

